<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>signup</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegistrationServlet</display-name>
    <servlet-name>RegistrationServlet</servlet-name>
    <servlet-class>com.registration.RegistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationServlet</servlet-name>
    <url-pattern>/RegistrationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistrationServlets</display-name>
    <servlet-name>RegistrationServlets</servlet-name>
    <servlet-class>com.registration.RegistrationServlets</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationServlets</servlet-name>
    <url-pattern>/RegistrationServlets</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.registration.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.registration.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminissionServlet</display-name>
    <servlet-name>AdminissionServlet</servlet-name>
    <servlet-class>com.registration.AdminissionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminissionServlet</servlet-name>
    <url-pattern>/AdminissionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdmissionServlet</display-name>
    <servlet-name>AdmissionServlet</servlet-name>
    <servlet-class>com.registration.AdmissionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdmissionServlet</servlet-name>
    <url-pattern>/AdmissionServlet</url-pattern>
  </servlet-mapping>
</web-app>